body {
  margin: 0;
}
::-webkit-scrollbar {
  width: 0px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.parent_div {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
}
textarea {
  padding: 10px;
  width: 100%;
  height: 75vh;
  border-radius: 10px;
  border: solid 2px rgb(127, 206, 209);
  font-size: 20px;
}
p {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
span {
  font-size: 26px;
  color: red;
  font-weight: 700;
  font-family: "Roboto Mono", monospace;
}
button {
  padding: 8px 10px;
  outline: none;
  font-size: 20px;
  border-radius: 5px;
  border: solid 1px lightgray;
  background-color: grey;
  color: white;
  cursor: pointer;
}
.box_div {
  width: 25%;
  margin-left: 10px;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem; */
}
.box {
  background-color: rgb(127, 206, 209);
  padding: 1rem 0;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
